# Projeto 1-> Conversor PDF/MD
docling
docling-parse

# Projeto 2-> Curvas de Bode
numpy 
control 
matplotlib

# Automação Web
selenium
chromedriver-autoinstaller
urllib3
webdriver_manager
pandas
openpyxl

python-dotenv
